{% extends "_layout/default.njk" %}
{% set pageData = {
  title: "サイト03 - トップページ",
  keywords: "キーワード01,キーワード02,キーワード03,キーワード04,キーワード05",
  description: "ページの概要が入ります。",
  path: "",
  nav: "top"
} -%}

{% block head_files -%}
{{ super() }}
<link rel="stylesheet" href="/css/top.css">
{%- endblock %}

{% block main_content %}
<section class="section">
  <div class="columns is-multiline is-mobile">
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">山田 太郎</p>
            </div>
          </div>
          <div class="content">
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">山田 太郎</p>
            </div>
          </div>
          <div class="content">
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">山田 太郎</p>
            </div>
          </div>
          <div class="content">
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">山田 太郎</p>
            </div>
          </div>
          <div class="content">
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </div>
      </div>
    </div>
    <div class="column is-one-third">
      <div class="card">
        <div class="card-content">
          <div class="media">
            <div class="media-left">
              <figure class="image is-48x48">
                <img src="https://bulma.io/images/placeholders/96x96.png" alt="Placeholder image">
              </figure>
            </div>
            <div class="media-content">
              <p class="title is-4">山田 太郎</p>
            </div>
          </div>
          <div class="content">
            <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock %}

{% block foot_files -%}
{{ super() }}
<script src="/{{ siteData.rootPath }}js/top.js"></script>
{%- endblock %}
