{% extends "_layout/default.njk" %}
{% set pageData = {
  title: "サイト03 - マイページ",
  keywords: "キーワード01,キーワード02,キーワード03,キーワード04,キーワード05",
  description: "ページの概要が入ります。",
  path: "mypage.html",
  nav: "top",
  category: "top",
  barbaName: "top"
} -%}

{% block head_files -%}
{{ super() }}
{%- endblock %}

{% block main_content %}
<section class="section">
  <figure class="image is-128x128">
    <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
  </figure>
  <h1>山田 太郎</h1>
  <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  <div>
    <h2>自己紹介文</h2>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
    <p>テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。</p>
  </div>
</section>
{% endblock %}

{% block foot_files -%}
{{ super() }}
{%- endblock %}
