<header>
  <nav class="header__navbar navbar is-transparent is-fixed-top" id="js-header__navbar" role="navigation" aria-label="ヘッダーナビゲーション">
    <div class="container">
      <div class="navbar-brand">
        <!-- ロゴ画像 -->
        <a class="navbar-item" href="/{{ siteData.rootPath }}">
          <img src="/{{ siteData.rootPath }}img/common/logo.png">
        </a>
        <!-- ハンバーガーメニュー（スマホ時のみ） -->
        <a role="button" class="navbar-burger" id="js-header__navbar-button">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>
      <!-- メニュー -->
      <div class="navbar-menu">
        <div class="navbar-end">
          <a class="navbar-item{{ ' is-active' if pageData.nav === 'top' }}" href="/{{ siteData.rootPath }}">トップページ</a>
          <a class="page-link--signin navbar-item{{ ' is-active' if pageData.nav === 'signin' }}" href="/{{ siteData.rootPath }}signin.html">サインイン</a>
          <a class="page-link--mypage navbar-item{{ ' is-active' if pageData.nav === 'mypage' }}" href="/{{ siteData.rootPath }}mypage.html" id="js-header__mypage">マイページ</a>
          <a class="page-link--settings navbar-item{{ ' is-active' if pageData.nav === 'settings' }}" href="/{{ siteData.rootPath }}settings.html">設定</a>
          <a class="page-link--signout navbar-item" href="#" id="js-header__signout">サインアウト</a>
        </div>
      </div>
    </div>
  </nav>
</header>
