{% macro sidebar(category) -%}
{% set asideDataList = {
  "default": {
    label: "おススメコンテンツ",
    items: [
      {
        label: "企業理念",
        link: "#"
      },
      {
        label: "会社概要",
        link: "#"
      },
      {
        label: "サービス・実績",
        link: "#"
      }
    ]
  },
  "about": {
    label: "○○について",
    items: [
      {
        label: "企業理念",
        link: "#"
      },
      {
        label: "会社概要",
        link: "#"
      },
      {
        label: "サービス・実績",
        link: "#"
      }
    ]
  },
  "program": {
    label: "プログラム",
    items: [
      {
        label: "○月○日",
        link: "#"
      },
      {
        label: "○月○日",
        link: "#"
      },
      {
        label: "○月○日",
        link: "#"
      }
    ]
  }
} -%}

{% if (category == 'about') -%}
  {% set asideData = asideDataList.about -%}
{% elif (category == 'program') -%}
  {% set asideData = asideDataList.program -%}
{% else -%}
  {% set asideData = asideDataList.default -%}
{% endif -%}

<aside class="menu">
  <p class="menu-label">{{ asideData.label }}</p>
  <ul class="menu-list">
  {% for item in asideData.items %}
    <li><a href="{{ item.link }}">{{ item.label }}</a></li>
  {% endfor %}
  </ul>
</aside>

{%- endmacro %}
