<main data-barba="container">
<h1>Nunjucks サンプル</h1>
{%- import '../../_module/news-list.njk' as newsList -%}
{%- set newsData = [
  {
    title: 'タイトル',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: './detail/0000.html'
  },
  {
    title: 'タイトル',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: './detail/0000.html'
  },
  {
    title: 'タイトル',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: './detail/0000.html'
  },
  {
    title: 'タイトル',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: './detail/0000.html'
  },
  {
    title: 'タイトル',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: './detail/0000.html'
  },
  {
    title: 'タイトル',
    text: 'テキストが入ります。テキストが入ります。テキストが入ります。テキストが入ります。',
    img: 'https://bulma.io/images/placeholders/640x320.png',
    alt: 'テキストが入ります。',
    link: './detail/0000.html'
  }
] -%}
{{ newsList.normal(newsData) }}
</main>
